*{
  background-color: antiquewhite;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.imgLogo{
 display: flex;
 justify-content: center;
}
h1{
  text-align: center;
}
p{
  text-align: center;
}
.navBar{
background-color: ;
color: black;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.5rem;
padding: 0.5rem calc((100vw -1000px) /2);
z-index: 10;
text-decoration: none;
}
.linksNav{
  /* background: #000; */
  display: inline-block;
  padding: 0px 20px;
  transition: all 0/3s ease 0s;
  text-decoration: none;
}
.linksNav:hover{
background-color: aqua;
border-radius: 4px;
transition: all 0/3s ease-out;
}
.navlogo{
  color: azure;
 justify-self: start;
  height: 150px;
  margin-left: 20px;
  cursor: pointer;
}
.player{
  display: flex;
  justify-content: center;
}